<?xml version="1.0" encoding="UTF-8" ?>
<GraphicsOptions>
	<Version>1</Version>
	<PresetName>Custom</PresetName>
	<StereoscopicMode>0</StereoscopicMode>
	<IPDAmount>0.001000</IPDAmount>
	<AMDCrashFix>false</AMDCrashFix>
	<FOV>58.834888</FOV>
	<HighResScreenCapAntiAlias>3</HighResScreenCapAntiAlias>
	<HighResScreenCapScale>4</HighResScreenCapScale>
	<GammaOffset>0.000000</GammaOffset>
	<DisableGuiEffects>false</DisableGuiEffects>
	<StereoFocalDistance>25.000000</StereoFocalDistance>
	<StencilDump>false</StencilDump>
	<ShaderWarming>true</ShaderWarming>
	<VehicleMotionBlackout>false</VehicleMotionBlackout>
	<VehicleMaintainHorizonCamera>false</VehicleMaintainHorizonCamera>
	<DisableCameraShake>false</DisableCameraShake>
</GraphicsOptions>
